@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

/* Fix native dropdown UI style */
.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
}